<%- include("partials/header") %>

<div class="container">
	<h1>contest page</h1>
	<% data.forEach(function(user){ %>
	<table class="table">
  	<thead>
		<tr>
		  <th scope="col">UserName</th>
		  <th scope="col">Contest</th>
		  <th scope="col">Rank</th>
		</tr>
  	</thead>
  	<tbody>
		<% user.ranks.forEach(function(rank){ %>
		<tr>
			<td><%= user.name%></td>
			<td><%= rank.contest%></td>
			<td><%= rank.rank%></td>
		</tr>
	  	<% }); %>
	</tbody>
</table>
	<hr>
	<% }); %>
</div>


<%- include("partials/footer") %>
