<%- include("partials/header") %>

<% let contests = user.contestPerformance.concat(former) %>

<% contests.sort(function(a, b) { %>
	<% if (contestInfo[a.contestId.toString()].time - contestInfo[b.contestId.toString()].time != 0) { %>
		<% return contestInfo[a.contestId.toString()].time - contestInfo[b.contestId.toString()].time %>
	<% } %>
	<% return a.rank - b.rank %>
<% }) %>

<% let labels = [] %>
	<% let data = [] %>
	<% let prev = -1 %>
	<% contests.forEach(function(contest){ %>
		<% if (contest.contestId != prev) { %>
			<% prev = contest.contestId %>
			<% if (contestInfo[contest.contestId.toString()].rate == true) { %>
				<% labels.push(contestInfo[contest.contestId.toString()].title) %>
				<% data.push(contest.rank) %>
			<% } %>
		<% } %>
	<% }) %>




<div class="container mb-3">
	<h1 class="text-center">LeetCode contest history of
		<% if (user.data_region === "US") { %>
			<a href=<%= "https://leetcode.com/"+user.name %>><%= user.name %></a>
		<% } %>
		<% if (user.data_region === "CN") { %>
			<a href=<%= "https://leetcode-cn.com/u/"+user.name %>><%= user.name %></a>
		<% } %>
	</h1>
	
	<canvas id="myChart" width="4000" height="2000"></canvas>
	<table class="table mt-5 table-hover">
  	<thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Contest</th>
		  <th scope="col">Rank</th>
		  <th scope="col">Problems</th>
		</tr>
  	</thead>
  	<tbody>
		<% prev = -1 %>
		<% cnt = 0 %>
		<% contests.forEach(function(contest){ %>
		<% if (contest.contestId != prev) { %>
			<% prev = contest.contestId %>
		<tr <% if (contestInfo[contest.contestId.toString()].rate == false) { %>
			class="line-through"
			<% } %>
			>	
			<% cnt = cnt + 1%>
			<td class="align-middle" scope="row"><%= cnt %></td>
			<td class="align-middle">
				<a href=<%= "https://leetcode.com/contest/"+contestInfo[contest.contestId.toString()].slug%>><%=contestInfo[contest.contestId.toString()].title%></a>
			</td>
			
			<td class="align-middle">
				<a href=<%= "https://leetcode.com/contest/" + contestInfo[contest.contestId.toString()].slug + "/ranking/" + Math.ceil(contest.rank/25) %>><%= contest.rank %>/<%= contestInfo[contest.contestId.toString()].userNumber %></a>
			</td>
			
			<td>
				<% contest.problems.forEach(function(p) { %>
					<% if (p.solved === true) { %>
						<a class="btn btn-sm btn-success" href=<%="https://leetcode.com/problems/"+questionInfo[p.problemId].slug%>><%=questionInfo[p.problemId].frontendId%></a>
					<% } %>
					<% if (p.solved === false) { %>
						<a class="btn btn-sm btn-danger" href=<%="https://leetcode.com/problems/"+questionInfo[p.problemId].slug%>><%=questionInfo[p.problemId].frontendId%></a>
					<% } %>
				<% }) %>
			</td>
		</tr>
		<% } %>
	  	<% }) %>
	</tbody>
</table>
	<a href="/" class="btn btn-primary mb-3">Home Page</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
let ctx = document.getElementById("myChart");
let myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%-JSON.stringify(labels)%>,
        datasets: [{
            data: <%-JSON.stringify(data)%>,
            borderWidth: 1,
			fill: false,
			pointBorderColor: "#c82333",
			borderColor: "#007bff",
			pointBorderWidth: 2,
			pointRadius: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
				},
				scaleLabel: {
					display: true,
					labelString: 'rank'
				}
            }]
        },
		elements: {
            line: {
                tension: 0 // disables bezier curves
            }
        },
		legend: {
			display: false
		}
    }
});
</script>
 

<%- include("partials/footer") %>
