<%- include("partials/header") %>

<div class="container mb-3">
	<h1>contest page</h1>
	<table class="table">
  	<thead>
		<tr>
		  <th scope="col">UserName</th>
		  <th scope="col">Contest</th>
		  <th scope="col">Rank</th>
		  <th scope="col">Problems</th>
		</tr>
  	</thead>
  	<tbody>
		<% user.contestPerformance.forEach(function(contest){ %>
		<tr>
			<td>
				<% if (user.data_region === "US") { %>
					<a href=<%= "https://leetcode.com/"+user.name %>><%= user.name %></a>
				<% } %>
				<% if (user.data_region === "CN") { %>
					<a href=<%= "https://leetcode-cn.com/u/"+user.name %>><%= user.name %></a>
				<% } %>
			</td>
			
			<td><a href=<%= "https://leetcode.com/contest/"+contestInfo[contest.contestId.toString()].slug%>><%=contestInfo[contest.contestId.toString()].title%></a></td>
			
			<td>
				<a href=<%= "https://leetcode.com/contest/" + contestInfo[contest.contestId.toString()].slug + "/ranking/" + Math.ceil(contest.rank/25) %>><%= contest.rank %></a>
			</td>
			
			<td>
				<% contest.problems.forEach(function(p) { %>
					<% if (p.solved === true) { %>
						<a class="btn btn-sm btn-success" href=<%="https://leetcode.com/problems/"+questionInfo[p.problemId].slug%>><%=questionInfo[p.problemId].frontendId%></a>
					<% } %>
					<% if (p.solved === false) { %>
						<a class="btn btn-sm btn-danger" href=<%="https://leetcode.com/problems/"+questionInfo[p.problemId].slug%>><%=questionInfo[p.problemId].frontendId%></a>
					<% } %>
				<% }) %>
			</td>
		</tr>
	  	<% }); %>
	</tbody>
</table>
	<a href="/" class="btn btn-primary">Home Page</a>
</div>

<%- include("partials/footer") %>
